

/* SH */

.flat {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 750px;
}

.flat, .flat div {
  border: 1px solid gray;
}

div.light {
  margin: 10px 0 15px 5px;
}

div.light, .light div {
  border: none;
}

.part-1 {
  width: 35%;
  float: left;
  height: 100%;
}

      .child {
        height: 33%;
        width: 100%;
        overflow-y: auto;
      }

      .hall {
        width: 100%;
        height: 67%;
        clear: both;
      }

            .living {
              width: 100%;
              height: 45%;
              overflow-y: auto;
            }

            .kitchen {
              width: 100%;
              height: 54%;
              overflow-y: auto;
            }

.part-2 {
  width: 30%;
  float: left;
  height: 49%;
}

      .koridor {
        width: 100%;
        height: 72%;
        overflow-y: auto;
      }

      .kabinet {
        height: 28%;
        width: 100%;
        overflow-y: auto;
      }


.part-3 {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 64%;
  overflow: hidden;
  height: 50%;
}

    .part-3-1 {
      width: 60%;
      float: left;
      height: 100%;
    }
    
        .koridor-do-spalni {
          width: 100%;
          height: 27%;
          overflow-y: auto;
        }
        
        .part-3-2 {
          width: 100%;
          height: 73%;
          overflow: hidden;
        }
        
            .vannaya {
              width: 60%;
              height: 100%;
              float: left;
              overflow-y: auto;
            }
            
            .postirochnaya {
              width: 38%;
              height: 100%;
              float: left;
              overflow-y: auto;
            }
            
        .spalnia {
          width: 38%;
          float: right;
          height: 100%;
          overflow-y: auto;
        }
        
        
        
fieldset {
  max-width: 60%;
}

div.state {
  width: 10px;
  height: 10px;
  background-color: red;
  float: left;
  margin: 3px 3px 0 0;
}

div.state.on {
  background-color: green;
}

.light .description {
  color: lightgray;
  font-size: 12px;
}

.light a:hover {
  font-weight: bold;
  text-decoration: underline;
}