

/* SH */

.flat {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 1500px;
}

.flat, .flat div {
  border: 1px solid gray;
}

fieldset div {
  border: none !important;
}

.part-1 {
  width: 40%;
  float: left;
  height: 100%;
}

      .child {
        height: 41%;
        width: 100%;
        overflow-y: auto;
      }

      .hall {
        width: 100%;
        height: 59%;
        clear: both;
      }

            .living {
              width: 100%;
              height: 70%;
              overflow-y: auto;
            }

            .kitchen {
              width: 100%;
              height: 30%;
              overflow-y: auto;
            }

.part-2 {
  width: 23%;
  float: left;
  height: 69%;
}

      .koridor {
        width: 100%;
        height: 75%;
        overflow-y: auto;
      }

      .kabinet {
        height: 25%;
        width: 100%;
        overflow-y: auto;
      }


.part-3 {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 59%;
  overflow: hidden;
  height: 30%;
}

    .part-3-1 {
      width: 50%;
      float: left;
      height: 100%;
    }
    
        .koridor-do-spalni {
          width: 100%;
          height: 42%;
          overflow-y: auto;
        }
        
        .part-3-2 {
          width: 100%;
          height: 57%;
          overflow: hidden;
        }
        
            .vannaya {
              width: 60%;
              height: 100%;
              float: left;
              overflow-y: auto;
            }
            
            .postirochnaya {
              width: 36%;
              height: 100%;
              float: left;
              overflow-y: auto;
            }
            
        .spalnia {
          width: 48%;
          float: right;
          height: 100%;
          overflow-y: auto;
        }
        
        
        
fieldset {
  max-width: 60%;
}

div.state {
  width: 10px;
  height: 10px;
  background-color: red;
}

div.state.on {
  background-color: green;
}